<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5" >
            <div class="card">
                <div class="card-body">
                    
                    <form>
                        <h5>Create account</h5><br>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input  class="text-line" type="text" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="text-line" type="text" placeholder="Last Name">
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col" >
                                <div class="form-group ">
                                    <i class="fas fa-mobile"></i>
            
                                    <span style="color: rgb(154, 146, 146);">  +91|</span>
                                    <input style="width: 85%;" class="text-line" type="tel" placeholder="Mobile Number">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    
                                    <input style="width: 100%;" class="text-line" type="text" placeholder="Create Password" maxlength="6">
                                    <small style="font-size:10px; ">Password must create at least <span style="color: #00b4b4"> 8 charactors, 1 number, 1 special charactor </span> (e.g. !@#$%^&*(_+]), and <span style="color: #00b4b4"> no spaces. </span></small>
                                    
                                </div>  
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-group">
                                    <input class="lineHeight" style="width: 100%;" class="text-line" type="text" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-4">
                            <div class="col">
                                <input type="checkbox"> By clicking I agree to YuWaah's <i href="" style="color: blue;">Term of service and Privacy policy</i>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col">
                               <input type="button" class="btn" (click)="otpVarificationPage()" style=" color: white; width: 100%; border-radius: 20px; background-color: rgb(26, 0, 130);" value="Sign Up">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="text-align: center;">
                               <label for="">Or Sign up with</label>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-2" ></div>
                            <div class="col-2" >
                                <a href="#"></a>
                                <img src="assets/facebook.png" width="40" height="40">
                            </div>

                            <div class="col-2" >
                                <img src="assets/insta.png" width="40" height="40">
                            </div>

                            <div class="col-2" >
                                <img src="assets/Google.png" width="40" height="40">

                            </div>

                            <div class="col-2" >
                                <img src="assets/LinkedIn.png" width="40" height="40">

                            </div>
                            <div>
                                <small>
                                Already have an account?
                                <a style="text-align: center;" href="#" class="text-decoration-none">LogIn</a>
                                </small>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
